<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -النظام الالكتروني لتسجيل الرغبات  في كلية الطب </title>
    @Styles.Render("~/Content/bootstrap-rtl.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>

    .navbar .navbar-brand img {
        height: 50px !important;
    }
       
</style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/Home/Index" class="navbar-brand">
                    <img src="~/Content/img/i.png"  />
                </a>

            </div>
            <div class="navbar-collapse collapse">
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year وحدة برمجة جامعة سوهاج </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
