<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - النظام الالكتروني لتسجيل الرغبات  في كلية الطب </title>
 
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/mdb/css/mdb.min.css")
    @Styles.Render("~/Content/main.css")
    @RenderSection("styles", required: false)
</head>
<body dir="rtl">



    <div class="container body-content" ondropover="allowDrop(event)">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year وحدة برمجة جامعة سوهاج </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/mdb/js/mdb.min.js")
    @RenderSection("scripts", required: false)


</body>
</html>
