<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>@ViewBag.Title - النظام الالكتروني لتسجيل الرغبات  في كلية الطب </title>

    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/mdb/css/mdb.min.css")
    @Styles.Render("~/Content/main.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scriptsTop", required: false)

</head>
<body dir="rtl">


    
	<div class="body-content vh-100">
            @RenderBody()
	</div>

    
   

    @Scripts.Render("~/Content/mdb/js/mdb.min.js")
    @RenderSection("scripts", required: false)


</body>
</html>
