<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/Med">
                <img src="https://upload.wikimedia.org/wikipedia/ar/2/2e/%D8%B4%D8%B9%D8%A7%D8%B1_%D8%AC%D8%A7%D9%85%D8%B9%D8%A9_%D8%B3%D9%88%D9%87%D8%A7%D8%AC.png"
                     height="55"
                     alt="sohag uni Logo"

                     loading="lazy" />
            </a>

            <!-- Left links -->
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                @Html.ActionLink("معلومات عامة", "Info", null, new { @class = "btn btn-primary mx-1" })
                @Html.ActionLink("طباعة رغباتي", "Index", null, new { @class = "btn btn-primary mx-1" })
                @Html.ActionLink("التنسيق اللحظي", "RealTimeTansik", null, new { @class = "btn btn-primary mx-1" })
                @*<a class="btn btn-primary mx-1" href="/Med/Home/Info">معلومات عامة</a>
                <a class="btn btn-primary mx-1" href="/Med/Home/Index">تسجيل / طباعة رغباتي</a>
                <a class="btn btn-primary mx-1" href="/Med/Home/RealTimeTansik">التنسيق اللحظي</a>*@
                @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken();
                    <button class="btn btn-danger mx-1">تسجيل الخروج</button>
                }
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            @ViewBag.Title - النظام الالكتروني لتسجيل الرغبات  في كلية الطب
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

