@model MedicalTansik.Models.Student

@{
    ViewBag.Title = " مراجعة بيانات الطالب";
}

<div class="jumbotron">
    <h2 style="text-align:Center">
        الرجاء مراجعة بياناتك وقم بالتاكد من صحتها واذا تبين وجود خطأ في البيانات تواصل مع شئون الطلبة فورا
    </h2>

</div>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-12 form-inline">
            <div class="form-group mb-2">
                <label>اهلا :</label>
                <label>hend</label>
            </div>

            <div class="form-group  mb-2" style="float:left">
                <label class="lead">الرقم القومي الخاص بك</label>
                @Html.LabelFor(model => model.NatId, new { @class = "lead" })
            </div>
            <br />
            <div class="form-group">
                <label class="lead">المجموع التراكمي</label>
-               <label class="lead">6544</label>
            </div>
            <br />
            <div class="form-group">
                <label class="lead">النسبة</label>
                <label class="lead">40%</label>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, new { @class = "lead" })
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>

            <p><a class="btn btn-info" href="~/Home/tansek"> حفظ </a></p>
        </div>
    }
</div>
